.sell-book-modal {
	.modal-header{
		img{
			display: none;
		}
	}
    .note {
        font-size: 10px;
        color: grey;
    }
    .isbn-info {
        position: relative;
        .fa {
            position: absolute;
            font-size: 18px;
            margin-left: 6px;
        }
        .ng-hide.ng-hide-animate{
            display: none !important;
        }
        .note {
            margin-left: 30px;
        }
    }
    .subtitle{
	    &:first-child{
		    margin-top: 0;
	    }
    }
    button{
	    width: 100%;
	    margin: 0;
    }
}
