<div class="advanced with-sidebar">
     <div class="container">
          <div class="row">
               <aside class=" col-sm-3">
                    <ol class="breadcrumb text-uppercase">
                         <li><a ui-sref="main">{{'home' | translate}}</a></li>
                         <li><a>{{'advanced.search' | translate}}</a></li>
                    </ol>
                    <bookis-filter-sidebar show-selected-filters="vm.showSelectedFilters" flex-xs flex-gt-xs="20" selected="vm.selected"
                    instant="vm.instantFiltering()" debounced="vm.debouncedFiltering()"></bookis-filter-sidebar>
               </aside>

               <div class="book-list-holder col-sm-9">
                    <div class="input-container">
                         <input class="form-control" type="text"
                                placeholder="{{'main.placeholder' | translate}}"
                                ng-model="vm.selected.query" ng-change="vm.debouncedFiltering()">
                         <div layout="row">
                              <div class="stats" ng-if="vm.stats.processingTimeMS"
                                   translate="result"
                                   translate-value-hits="{{vm.stats.nbHits}}"
                                   translate-value-time="{{vm.stats.processingTimeMS}}">
                              </div>
                         </div>
                    </div>
                    <h3 class="title-font capitalize">{{'search.results' | translate}}</h3>
                    <div class="book-list">
                         <div class="book-list-body" layout="row" layout-wrap>
                              <div layout="column" class="hit-component" ng-repeat="hit in vm.hits track by hit.objectID" flex="25">
                                   <div class="book-cover">
                                        <img ui-sref="allbooks.details({id: hit.objectID})" class="pointable" ng-src="{{::hit.image || '/assets/images/book_avatar.jpg'}}" alt="book image">
                                   </div>
                                   <div class="rate">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>{{::hit.rate || 0 | number: 1}}/5
                                   </div>
                                   <a title="{{::(hit.title + ' (' + hit.year + ')')}}">{{::hit.title}}</a>
                              </div>
                         </div>
                    </div>
                    <h3 class="title-font capitalize">{{'recommended.books' | translate}}</h3>
                    <div class="book-list">
                         <div class="book-list-body" layout="row" layout-wrap>
                              <div layout="column" class="hit-component" ng-repeat="hit in vm.hits | limitTo: 4 track by hit.objectID" flex="25">
                                   <img height="240" width="160" ui-sref="allbooks.details({id: hit.objectID})" class="pointable" ng-src="{{::hit.image || '/assets/images/book_avatar.jpg'}}" alt="book image">
                                   <div class="rate">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>{{::hit.rate || 0 | number: 1}}/5
                                   </div>
                                   <a title="{{::(hit.title + ' (' + hit.year + ')')}}">{{::hit.title}}</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
