<div layout="column" flex="none" class="hit-component">
     <img ui-sref="allbooks.details({id: vm.book.objectID})" class="book-image pointable" ng-src="{{::vm.book.image || '/assets/images/book_avatar.jpg'}}" alt="book image">
     <span class="book-name" md-truncate title="{{::(vm.book.title + ' (' + vm.book.year + ')')}}">{{::(vm.book.title + ' (' + vm.book.year + ')')}}</span>
     <div layout="row" layout-align="space-between center" flex="none" class="author-rating">
          <span class="author-name">{{vm.book.author[0].displayName || 'Unknown author'}}</span>
          <div ng-if="::vm.book.rate">
               {{::vm.book.rate | number: 1}} <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
     </div>
     <span class="book-genre capitalize" md-truncate title="{{::vm.book.genre.join(', ') || 'N/A'}}">{{'genre' | translate}}: {{::vm.book.genre.join(', ') || 'N/A'}}</span>
     <div layout="row" layout-align="space-between center" flex="none">
          <span class="book-format">{{::vm.book.format}}</span>
          <div layout="column" layout-align="start start" flex="none" class="book-details">
               <div>{{::vm.book.available || 'No books'}} {{'available' | translate}}</div>
          </div>
     </div>

</div>
