<a ng-class="classes" ng-click="OauthButtons.loginOauth('facebook', remember)" class="btn btn-social btn-facebook">
     <i class="fa fa-facebook"></i>
     <span>{{'login.facebook' | translate}}</span>
</a>
<a ng-class="classes" ng-click="OauthButtons.loginOauth('google', remember)" class="btn btn-social btn-google">
     <img src="assets/images/google-icon.png" alt="Google">
     <span>{{'login.google' | translate}}</span>
</a>
<!--<a ng-class="classes" class="btn btn-social btn-twitter">-->
     <!--<i class="fa fa-twitter"></i>-->
     <!--<span>Twitter</span>-->
<!--</a>-->
