.btn-social {
	text-align: center;
	text-transform: none;
	padding: 20px;

	i {
		margin-left: 10px;
		border-right: none !important;
	}

	&.btn-google {
		background-color: white;
		color: #484848;
		border: 1px solid #d6d6d6;

		img {
			height: 20px;
			width: 20px;
			top: 18px;
			left: 14px;
			border: 0;
		}
	}
}
