navbar {
	a {
		border-bottom: 0;
		.caret-down {
			font-size: 10px !important;
			transform: translateY(-3px);
		}
	}

	.navbar {
		margin-bottom: 0;
		border: 0;
	}

	.hit {
		cursor: pointer;
		padding: 8px 8px 0;

		img {
			height: 75px;
		}

		.hit-info {
			margin-left: 10px;

			.title {
				font-weight: 600;

				span {
					font-size: 10px;
				}
			}

			.author,
			.genre {
				color: grey;
				font-size: 12px;
			}
		}

		.availability {
			font-size: 11px;
			color: grey;
		}
	}

	.navbar-brand {
		padding: 0;
		margin-left: 0 !important;
		height: 40px;

		img {
			height: inherit;
		}

		&.merchant {
			position: absolute;
			left: calc(50% - 57px);
		}
	}

	.active {
		a {
			color: color(primary, base) !important;
			background-color: white !important;
		}
	}
	
	li {
		> a > img.image-inactive {
			display: inline-block;
		}
		> a > img.image-active {
			display: none;
		}
		
	}
	li.active {
		> a > img.image-inactive {
			display: none;
		}
		> a > img.image-active {
			display: inline-block;
		}
	}

	.navbar-default {
		background-color: white;
		z-index: 10000;

		#navbar-main {
			@include nav-hover(grey, darken(grey, 50%));
		}
	}

	.transparent-nav {
		border-color: transparent;
		background-color: transparent;
		position: absolute;
		padding-top: 10px !important;
		width: 100%;

		.navbar-header {
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);

			.navbar-mobile {
				background-color: #1f4c56;
				box-shadow: none;
				padding-top: 15px;
			}

			.navbar-main {
				height: auto;
				min-height: 0;
				li.open:after {
					background-color: rgba(255,255,255, .1);
				}
				@media (max-width: $screen-sm-max) {
					float: none!important;

					li + li:not(.sub-drop) {
						margin-left: 0;
						margin-right: 20px;
					}

					li:last-child {
						float: right;
						margin: 0;
					}
				}
			}

			.navbar-nav {
				li {
					margin-right: 40px;
				}

				a {
					padding: 10px 0 20px;
					opacity: 0.7;
					&:hover {
						opacity: 1;
					}
				}
			}

			> div > ul,
			> ul {
				padding-top: 0;
				> li > a {
					opacity: 0.7;
				}
				> li:hover {
					> a {
						color: white!important;
						opacity: 1;
					}
				}

				a {
					font-weight: normal;
					text-transform: uppercase;
					color: white!important;
					opacity: 0.7;

					&:hover {
						opacity: 1;
						color: white!important;
					}
				}

				img {
					filter: brightness(0) invert(1);
				}
			}
			@media (max-width: $screen-sm-max) {
				padding-top: 4px;
				padding-bottom: 17px;
			}
		}

		.toggle-menu{
			margin-right: 0!important;
		}
		.mobile-menu-holder{
			top: 57px;
		}
		#navbar-main {
			@include nav-hover(white, darken(white, 50%));
		}
	}

	#navbar-main {
		overflow: hidden;
	}

	.main-nav {
		padding-top: 20px;
		min-height: 0;
	}

	.navbar-nav {
		padding-top: 10px;

		li {
			a {
				font-weight: bold;
			}
		}
	}

	.navbar-right {
		text-transform: uppercase;
	}
	
	.navbar-myzone-menu img {
//     filter: brightness(.5) invert(1) !important;
    float: left;
    margin-right: 5px;
	}

}

.popover.notifications-popover{
	    background-color: #ffffff;
	    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.2);
	    border: 0;
	    border-radius: 5px;

	    > .arrow{
		    border-color: transparent;

		    	&:after{
				margin-left: -12px;
			}
	    }

	    .popover-content{
		    padding: 0;

		    > div > div + div {
			    .notification{
				    border-top: 1px solid #d6d6d6;
			    }
		    }
	    }
	    .notification{
		    padding: 15px 10px;
		    display: flex;
		    align-items: center;

		    img{
			    height: 50px;
			    width: 50px;
			    border-radius: 50%;
			    margin-right: 10px;
		    }
		    a{
			    margin-right: 5px;
		    }
	    }
	}

navbar,
navbar-sub {
	li.dropdown {
		.dropdown-menu {
			width: 160px;
			border-radius: 5px;
			background-color: #ffffff;
			box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2);
			left: 50%;
			margin-left: -75px;
			top: 30px;
			border: 0;
			padding-top: 0;
			padding-bottom: 0;

			.user-image {
				padding: 10px 15px;
				border-bottom: 1px solid #d6d6d6!important;
				width: 100%;
				opacity: 1;

				a {
					font-size: 14px;
					font-weight: bold;
					color: #1f4c56!important;
					text-transform: capitalize!important;
					display: flex;
					align-items: center;
				}

				img {
					width: 40px!important;
					height: 40px!important;
					object-fit: contain;
					border-radius: 50%;
					filter: none;
					margin-right: 8px;
				}
			}

			&.arrow {
				&:after {
					top: -10px;
					right: 75px;
					border-right: 10px solid transparent;
					border-bottom: 10px solid #ffffff;
					border-left: 10px solid transparent;
					@media (max-width: $screen-sm-max) {
						right: 70px;
					}
				}

				&:before {
					display: none;
				}
			}

			li {
				padding: 8px 20px;
				opacity: 0.7;
				margin: 0 !important;

				&:first-child {
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:last-child {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
				}

				&:hover {
					background-color: #f0f3f3;
				}

				a {
					text-transform: uppercase!important;
					white-space: normal;
					font-size: 14px;
					line-height: 1.43;
					color: #1f4c56!important;
					background-color: transparent;
					margin: 0;
					padding: 0;

					&:hover {
						color: #1f4c56!important;
					}
				}
			}
			&.dropdown-menu-wide {
				margin-left: -240px;
				width: 320px;
				padding: 20px;
			}
		}
	}
}

.navbar-header {
	width: 100%;

	input#toggle-menu-checker {
		&:checked {
			& + .mobile-menu-holder {
				width: 100%;
				transition: width .3s;

				&.navbar-fixed-opened {
					position: fixed;
				}
			}
		}
	}

	.navbar-main {
		li.sub-drop {
			a {}

			&.active {
				background-color: #f0f3f3;
				border-left: 3px solid $color-primary;

				a {
					background-color: #f0f3f3!important;
				}
			}
		}

		li {
			&.open {
				&:after {
					content: '';
					display: block;
					background-color: #f0f3f3;
					position: absolute;
					top: -5px;
					left: -5px;
					right: -5px;
					bottom: -5px;
					border-radius: 2px;
					z-index: -1;
				}

				a {
					opacity: 1;
				}
			}

			a {
				opacity: 0.7;
			}
		}
	}

	.navbar {
		text-align: left;
		height: 40px;
		margin-top: 7px;

		li:not(.sub-drop) {
			display: inline-block;
			position: relative;

			+ li:not(.sub-drop) {
				margin-left: 30px;
			}

			&:last-child {
				margin-left: 30px;
			}

			&:nth-last-of-type(-n+2) {
				a {
					position: relative;
					border-bottom: 0;

					img {
						margin-right: 0;
					}
				}
			}

			&.toggle-menu {
				display: none;
				opacity: 0.7;

				&.active {
					height: 30px;
					width: 30px;
					line-height: 30px;
					text-align: center;
					border-radius: 2px;
					background-color: #f0f3f3;
				}

				label {
					cursor: pointer;

					img {
						height: auto!important;
						pointer-events: none;
						width: 25px;
					}
				}
				@media (max-width: $screen-sm-max) {
					display: inline-block;
				}
			}

			&.active,
			&:hover {
				a {
					opacity: 1;

				}
			}

			.notifications {
				position: absolute;
				top: -12px;
				right: -12px;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				line-height: 24px;
				text-align: center;
				color: white;
				z-index: 10;
				font-size: 12px;
				background-color: $color-primary;
			}

			a {
				font-family: 'Fira Sans', sans-serif;
				font-size: 14px;
				line-height: 1.43;
				color: #1f4c56;
				text-transform: uppercase;
				text-decoration: none;
				border-bottom: 0;

				img {
/*
					height: 22px;
					width: 22px;
*/
					margin-right: 8px;
				}
			}
		}
	}

	.slogan {
		font-family: 'Fira Sans', sans-serif;
		font-size: 12px;
		color: #748c91;
		float: left;
		max-width: 240px;
		padding-left: 20px;
		margin: 0 0 0 20px;
		border-left: 2px solid #cbd6d8;
		line-height: 20px;
		height: 40px;
	}
	@media (max-width: $screen-sm-max) {
		.navbar-main {
			min-width: 80px;
			li + li:not(.sub-drop) {
				margin-left: 20px !important;
			}
		}
	}
}

.mobile-menu-holder {
	width: 0;
	position: absolute;
	right: 0;
	top: 69px;
	overflow: hidden;
	transition: width .3s;

	.navbar-mobile {
		height: auto;
		background-color: white;
		border-top: 1px solid #d6d6d6;
		border-radius: 0;
		width: 100vw;
		padding-left: 0;
		padding-top: 15px;
		padding-bottom: 10px;
		box-shadow: 0 13px 17px 0 #a25137;

		li {
			display: block!important;
			padding: 10px 0 10px 35px;
			margin-left: 0 !important;
			border-left: 2px solid transparent;

			img {
				margin-right: 8px !important;
			}

			&.active {
				background-color: #f0f3f3;
				border-left: 3px solid $color-primary;

				a {
					background-color: #f0f3f3!important;
				}
			}

			&.sub-mobile {
				margin-left: 0 !important;
				padding: 10px 0 10px 65px;

				&-first {
					padding-top: 15px;
					margin-top: 20px;
					position: relative;

					&:before {
						content: '';
						display: block;
						height: 1px;
						right: 0;
						left: 65px;
						position: absolute;
						top: -10px;
						background-color: rgba(214, 214, 214, 0.2);
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

.search-nav-inside {
	margin-top: 10px;
	margin-bottom: 10px;

	ul {
		li {
			margin-right: 0 !important;
		}
	}
}

.dropdown-menu-cart {
	.dropdown-cart-title {
		margin: 0;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #444444;
	}
	.dropdown-cart-line {
		padding: 10px 0;
	}
	.dropdown-cart-product {
		line-height: 22px;
		font-size: 14px;
		color: #1e8197;
		a {
			text-transform: none !important;
			display: block;
			text-decoration: underline !important;
		}
	}
	.dropdown-cart-price {
		font-size: 20px;
		line-height: 20px;
		color: black;
		font-weight: 300;
		float: left;
		clear: left;
	}
	.dropdown-cart-format {
		float: right;
		text-transform: uppercase;
		font-size: 12px;
	}
	.dropdown-cart-totals {
		border-top: 1px solid #ddd;
		padding-top: 20px;
		margin: 10px 0;
	}
	.dropdown-cart-total-label {
		padding: 0;
	}
	.dropdown-cart-total {
		padding: 0 0 0 10px;
		line-height: 40px;
		font-size: 36px;
		color: black;
		font-weight: 300;
	}
	.dropdown-cart-actions {

	}
	.dropdown-cart-btns {
		.btn.btn-primary {
			color: white;
			border: 1px solid $brand-primary;
		}
		.btn.btn-default {
			color: $brand-primary;
			border-bottom: 1px solid $brand-primary;
			margin-right: 10px !important;
		}
	}
}


