<div class="row signup">
     <div class="col-sm-12">
          <oauth-buttons></oauth-buttons>
		<div class="separator">
			<span>{{'or' | translate}}</span>
			<hr>
		</div>
          <form class="form" name="form" ng-submit="form.$valid && modal.submit(form)" novalidate>

               <!--<pre style="font-size:8px;">{{ modal.data.errors | json }}</pre>-->
               <!--<pre style="font-size:8px;">{{ form.email.$error | json }}</pre>-->

			<div class="form-group" ng-class="{ 'has-success': form.email.$valid && form.$submitted, 'has-error': form.email.$invalid && form.$submitted }">
				<input type="email" id="email" name="email" class="form-control" ng-model="modal.data.user.email" placeholder="{{'enter.your' | translate: {a: 'email'} }}" required mongoose-error/>
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				<p class="help-block" ng-show="form.email.$error.email && form.$submitted">
                         {{'Please enter a valid email' | translate }}
				</p>
				<p class="help-block" ng-show="form.email.$error.required && form.$submitted">
                         {{'what.email' | translate }}
				</p>
				<p class="help-block" ng-show="form.email.$error.mongoose">
					{{ modal.data.errors.email }}
				</p>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && form.$submitted, 'has-error': form.firstName.$invalid && form.$submitted }">
		                    <input type="text" id="firstName" name="firstName" class="form-control" placeholder="{{'first.name' | translate}}" ng-model="modal.data.user.firstName" required/>
						<i class="fa fa-user-o" aria-hidden="true"></i>
		                    <p class="help-block" ng-show="form.firstName.$error.required && form.$submitted">
		                         {{'_is.required' | translate:{a: 'first.name'} }}
		                    </p>
		               </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && form.$submitted, 'has-error': form.lastName.$invalid && form.$submitted }">
		                    <input type="text" id="lastName" name="lastName" class="form-control" placeholder="{{'last.name' | translate}}" ng-model="modal.data.user.lastName" required/>
						<i class="fa fa-user-o" aria-hidden="true"></i>
		                    <p class="help-block" ng-show="form.lastName.$error.required && form.$submitted">
		                         {{'_is.required' | translate:{a: 'last.name'} }}
		                    </p>
		               </div>
				</div>
			</div>



               <div class="form-group" ng-class="{ 'has-success': form.password.$valid && form.$submitted, 'has-error': form.password.$invalid && form.$submitted }">
                    <input type="password" id="password" name="password" class="form-control" placeholder="{{'Password' | translate }}" ng-model="modal.data.user.password" ng-minlength="3" required mongoose-error/>
				<i class="fa fa-lock" aria-hidden="true"></i>
                    <p class="help-block" ng-show="(form.password.$error.minlength || form.password.$error.required) && form.$submitted">
                         {{'password.length' | translate}}
                    </p>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                         {{ modal.data.errors.password }}
                    </p>
               </div>

               <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && form.$submitted, 'has-error': form.confirmPassword.$invalid && form.$submitted }">
                    <input type="password" id="confirm" name="confirmPassword" class="form-control" placeholder="Confirm password" ng-model="modal.data.user.confirmPassword" match="modal.data.user.password" ng-minlength="3" required/>
				<i class="fa fa-lock" aria-hidden="true"></i>
                    <p class="help-block" ng-show="form.confirmPassword.$error.match && form.$submitted">
                         {{'password.match' | translate }}
                    </p>
               </div>

               <md-checkbox ng-model="agreed" aria-label="agreements" class="checkbox-register">
                    <div layout="row" layout-wrap>
                         <span>{{'i.agree' | translate}}</span>&nbsp;
                         <a href="">{{'Terms & Conditions' | translate}}</a>&nbsp;
                         {{'and' | translate}}
                         &nbsp;<a href="">{{'privacy.policy' | translate}}</a>
                    </div>
               </md-checkbox>

               <div layout="column" flex="none">
                    <md-button ng-disabled="!agreed" class="md-primary md-raised" type="submit">
                         {{'sign.up' | translate }}
                    </md-button>
               </div>

          </form>

          <p class="subtitle">
               {{'already.have.account' | translate }} <br><a ng-click="modal.changeModal('login')">{{'login.with.email' | translate}}</a>
		</p>

     </div>
</div>
