<div class="col-md-3 date">
     <span>Today 3:20</span>
</div>
<div class="col-md-9 event">
     <div class="avatar">
          <div class="event-icon">
               <img src="assets/images/hearts.png" srcset="assets/images/hearts@2x.png 2x, assets/images/hearts@3x.png 3x" alt="Pen">
          </div>
          <img src="https://cdn.zeplin.io/58e6346a03ab532a12ca7b66/assets/9F64029A-3774-429D-9FA2-158EBD7655A3.png" alt="Avatar">
     </div>
     <div class="content-holder">
          <div class="message">
               <a href="#">Arthur Lipsky</a> added <a href="#">Guliver’s Travels</a> to wishlist:
          </div>
          <div class="content content-book">
               <div class="book-cover" ui-sref="allbooks.details({id: vm.newBook[0]._id})" href="/all-books/58c82f0e039aea3e717d5ba6/details">
                    <img ng-src="//s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c82f0e039aea3e717d5ba6/full.png" alt="rec image" src="//s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c82f0e039aea3e717d5ba6/full.png">
               </div>
               <div class="book-description">
                    <h3><a ui-sref="allbooks.details({id: rec._id})" href="/all-books/58c832e6039aea3e717db102/details">Forliset</a></h3>
                    <div class="rating">
                         <i class="fa fa-star-o"></i>4.7/5
                    </div>
                    <div class="author">by <a href="#">Frode Granhus</a></div>
                    <ul class="genres list-unstyled list-inline">
                         <li><a href="#">Romaner</a></li>
                    </ul>
               </div>
          </div>
          <div class="content content-avatar hidden">
               <div>
                    <img src="assets/images/avatar.png" alt="User name">
               </div>
          </div>
     </div>
</div>