<div id="change-password">
	<md-whiteframe class="col-md-5">
		<div>
			<header>
				{{!vm.notLocal ? 'change.password' : 'set.password' | translate}}
			</header>
			<div class="content">
				<form class="form" name="form" ng-submit="vm[!vm.notLocal ? 'changePassword' : 'setPassword'](form)" novalidate>

					<div class="form-group" ng-if="!vm.notLocal" ng-class="{ 'has-success': form.password.$valid && form.$submitted, 'has-error': form.password.$invalid && form.$submitted }">
						<label class="control-label" for="currentPassword">{{'current.password' | translate}}</label>
						<div>
							<input id="currentPassword" type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" mongoose-error/>
							<p class="help-block" ng-show="form.password.$error.mongoose">
								{{ vm.errors.other }}
							</p>
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-success': form.newPassword.$valid && form.$submitted, 'has-error': form.newPassword.$invalid && form.$submitted }">
						<label class="control-label" for="newPassword"><span ng-if="!vm.notLocal">{{'new' | translate}} </span>{{'password' | translate}}</label>
						<div>
							<input id="newPassword" type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" ng-minlength="3" required/>
							<p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && form.newPassword.$dirty && form.$submitted">
								{{'password.length' | translate}}
							</p>
						</div>
					</div>

					<div class="form-group" ng-class="{ 'has-success': form.confirm.$valid && form.$submitted, 'has-error': form.confirm.$invalid && form.$submitted }">
						<label class="control-label" for="confirm">{{'confirm.password' | translate}}</label>
						<div>
							<input id="confirm" type="password" name="confirm" class="form-control" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required="" />
							<p class="help-block" ng-show="form.confirm.$error.match && form.$submitted">
								{{'password.match' | translate}}
							</p>
						</div>
					</div>

					<p class="help-block"> {{ vm.message }} </p>

					<div layout="row" layout-align="end end" flex>
						<md-button type="submit" class="btn btn-primary update">
							{{!vm.notLocal ? 'update' : 'submit' | translate}}
						</md-button>
					</div>

				</form>
			</div>
		</div>
	</md-whiteframe>
</div>
