
.cart-list {
	.book-list-head {
		padding: 5px 20px;
	}
	.control-quantity {
		width: 100px;
		.form-control {		
			height: 42px;
			outline: 0;
			padding: 10px 0;
			border-radius: 3px;
			border: solid 1px #d6d6d6;
			border-width: 1px 0;
			box-shadow: none;
			width: 32px;
			height: 40px;
			line-height: 40px;
			padding-top: 0;
			padding-bottom: 0;
			text-align: center;
// 			width: 20px;
		}
		.input-group-btn {
			.btn {
				border: solid 1px #d6d6d6;	
				color: #d6d6d6;
				font-size: 24px;
				line-height: 1;
				font-weight: 300;
				height: 40px;
				width: 35px;
				line-height: 40px;
				padding: 0;
			}
			&:first-child {
				.btn {
					border-right: none;
				}
			}
			&:last-child {
				.btn {
					border-left: none;
				}
			}
		}
	}
}


.checkout-payment-box {
		bookis-card,
		bookis-card + bookis-card {
			margin: 20px auto 0;
			float: none;
		}
}

.book-list-results.book-list-holder .book-list .book-list-body {
	.book-list-item {
		padding-left: 0;
		padding-right: 0;
	}
}


.request-shipping-box {
	.panel-title {
		padding-right: 40px;
		position: relative;
		a {
			text-decoration: none;
		}
	}
	.address-choice {
		position: absolute;
		top: 0;
		right: -10px;
	}	
}




//  GENERIC ELEMENTS

.user-item {
	margin-bottom: 15px;
	.user-image {
		border-radius: 50%;
		width: 40px;
		float: left;
		margin-right: 10px;
	}
	.user-name {
		font-size: 14px;
		line-height: 22px;
		font-weight: bold;
		color: #1f4c56;
	}
	.user-detail {
		font-size: 12px;
		line-height: 18px;
		color: #444;
	}
	.user-rating {
		float: right;
		font-weight: 300;
		font-size: 14px;
		line-height: 22px;
		color: #000;
		.fa {
			color: #1f4c56;
		}
	}
}