<div class="section-fluid section-bg static-content" style="background: #BFD4DC;">
	
	<div class="container">
		<div class="row">

				<div class="col-md-4 col-xs-12">
					<div class="book-item book-block book-block-medium clearfix">
						<a class="book-item-cover">
							<img src="//s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c82f0e039aea3e717d5ba6/full.png" alt="Book Title Here">
						</a>
						<div class="book-item-description">
							<div class="book-item-details">
								<h3 class="book-item-title"><a>Book Title Here</a></h3>
								<div class="book-item-author">{{'by' | translate}} <a>Book Author Name</a></div>
								<div class="book-item-format">Paperback</div>
								<div class="book-item-rating">
									<i class="fa fa-star-o"></i> 2.5/5
								</div>
							</div>
							<div class="book-item-buy buying-options">
								<button type="button" class="btn btn-primary btn-mline btn-buy btn-buy-new">
									<img class="book-buy-new-icon" src="assets/images/cart-white.png" srcset="assets/images/cart-white@2x.png 2x, assets/images/cart-white@3x.png 3x" alt="Cart icon">
									<span class="btn-buy-number">New</span>
									<span class="btn-buy-price"><b>159,-</b></span>
								</button>
								<button type="button" class="btn btn-default btn-mline btn-buy btn-buy-used">
									<span class="btn-buy-number">2 used</span>
									<span class="btn-buy-price">From <b>123,-</b></span>
								</button>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-2 col-xs-12">
					<div class="book-item book-tile clearfix">
						<a class="book-item-cover">
							<img src="//s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c82f0e039aea3e717d5ba6/full.png" alt="Book Title Here">
						</a>
						<div class="book-item-description">
							<div class="book-item-details">
								<h3 class="book-item-title"><a>Book Title Here</a></h3>
								<div class="book-item-author">{{'by' | translate}} <a>Book Author Name</a></div>
								<div class="book-item-format">Paperback</div>
								<div class="book-item-rating">
									<i class="fa fa-star-o"></i> 2.5/5
								</div>
							</div>
							<div class="book-item-buy buying-options">
								<button type="button" class="btn btn-primary btn-mline btn-buy btn-buy-new">
									<img class="book-buy-new-icon" src="assets/images/cart-white.png" srcset="assets/images/cart-white@2x.png 2x, assets/images/cart-white@3x.png 3x" alt="Cart icon">
									<span class="btn-buy-number">New</span>
									<span class="btn-buy-price"><b>159,-</b></span>
								</button>
								<button type="button" class="btn btn-default btn-mline btn-buy btn-buy-used">
									<span class="btn-buy-number">2 used</span>
									<span class="btn-buy-price">From <b>123,-</b></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-2 col-xs-12">
					<div class="book-item book-tile clearfix">
						<a class="book-item-cover">
							<img src="//s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c82f0e039aea3e717d5ba6/full.png" alt="Book Title Here">
						</a>
						<div class="book-item-description">
							<div class="book-item-buy buying-options">
								<button type="button" class="btn btn-primary btn-mline btn-buy btn-buy-new">
									<img class="book-buy-new-icon" src="assets/images/cart-white.png" srcset="assets/images/cart-white@2x.png 2x, assets/images/cart-white@3x.png 3x" alt="Cart icon">
									<span class="btn-buy-number">New</span>
									<span class="btn-buy-price"><b>159,-</b></span>
								</button>
								<button type="button" class="btn btn-default btn-mline btn-buy btn-buy-used">
									<span class="btn-buy-number">2 used</span>
									<span class="btn-buy-price">From <b>123,-</b></span>
								</button>
							</div>
							<div class="book-item-details">
								<h3 class="book-item-title"><a>Book Title Here</a></h3>
								<div class="book-item-author">{{'by' | translate}} <a>Book Author Name</a></div>
								<div class="book-item-format">Paperback</div>
								<div class="book-item-rating">
									<i class="fa fa-star-o"></i> 2.5/5
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-md-2 col-xs-12">
					<div class="book-item book-tile clearfix">
						<a class="book-item-cover">
							<img src="//s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c82f0e039aea3e717d5ba6/full.png" alt="Book Title Here">
							<div class="romb romb-up">
								<span class="rating">
									<i class="fa fa-star-o"></i> 4,5/5
								</span>
							</div>
						</a>
						<div class="book-item-description">
							<div class="book-item-buy buying-options">
								<button type="button" class="btn btn-primary btn-mline btn-buy btn-buy-new">
									<img class="book-buy-new-icon" src="assets/images/cart-white.png" srcset="assets/images/cart-white@2x.png 2x, assets/images/cart-white@3x.png 3x" alt="Cart icon">
									<span class="btn-buy-number">New</span>
									<span class="btn-buy-price"><b>159,-</b></span>
								</button>
								<button type="button" class="btn btn-default btn-mline btn-buy btn-buy-used">
									<span class="btn-buy-number">2 used</span>
									<span class="btn-buy-price">From <b>123,-</b></span>
								</button>
							</div>
							<div class="book-item-details">
								<h3 class="book-item-title"><a>Book Title Here</a></h3>
							</div>
						</div>
					</div>
				</div>
			
		</div>
	</div>
	
	
	<div class="container">
	
		<div class="row">
			
	
			<md-whiteframe class="col-md-6">
				<div class="">
					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Add Book for Sale</h2>
					</div>
					<header>
						<span class="text-muted pull-right">Step 1 of 3</span> Find the book
					</header>
					<div class="content">
						<label>
						Search the book by title, author or ISBN &nbsp;
						<a href="" class="pull-right">(What's ISBN?)</a>
						</label>
<!-- 						NOTE TO DEVS: Use standard Algolia search here; with the built-in results popup, instead of the custom one here -->
						<input type="text" class="form-control input-lg" placeholder="Search by ISBN, title or author" data-toggle="collapse" data-target="#static-results-sample">
					</div> 
					<div class="content collapse" id="static-results-sample">
												<div class="book-list-holder book-list-results">
												<div class="book-list"> 
												<div class="book-list-body" style="max-height: 300px; overflow: auto;">

							<div class="book-list-item ng-scope">

								<div class="fl-b-10 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Pocket</div>
								</div>
							</div>
							<div class="book-list-item ng-scope">

								<div class="fl-b-10 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Pocket</div>
								</div>
							</div>
							<div class="book-list-item ng-scope">

								<div class="fl-b-10 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Pocket</div>
								</div>
							</div>
							<div class="book-list-item ng-scope">

								<div class="fl-b-10 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Pocket</div>
								</div>
							</div>
							<div class="book-list-item ng-scope">

								<div class="fl-b-10 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Hardcover</div>
								</div>
							</div>
							<div class="book-list-item ng-scope">

								<div class="fl-b-10 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Paperback</div>
								</div>
							</div>


												</div>
												</div>
												</div>
					</div>
					<div class="box-footer">
						<div style="display: block; width: 50px; height: 20px; line-height: 20px; text-align: center; margin: -30px auto 5px; background: white; position: relative;">OR</div>
						<label>
							Can't find the book?
						</label>						
									<button class="btn btn-default btn-block"><b class="fa fa-plus"></b> add yours</button>
					</div>
				</div>
			</md-whiteframe>
	
			<md-whiteframe class="col-md-6">
				<div class="">
					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Add Book for Sale</h2>
					</div>
					<header>
						<span class="text-muted pull-right">Step 1 of 3</span> Find the book
					</header>

					<div class="content">
						<div class="row">
							<div class="col-sm-5">
							    <label for="">Cover</label>
								<img src="http://placehold.it/240x360" alt="" class="img-responsive">
							</div>
							<div class="col-sm-7">
								<div class="form-group">
							    <label for="">ISBN <a href="">(how to find the code?)</a></label>
							    <input type="text" class="form-control" placeholder="" value="142326233464566">
							  </div>
								<div class="form-group">
							    <label for="">Title</label>
							    <input type="text" class="form-control" placeholder="" value="Meditations">
							  </div>
								<div class="form-group">
							    <label for="">Author</label>
							    <input type="text" class="form-control" placeholder="" value="Markus Aurelius">
							  </div>
							  <div class="row">
							  	<div class="col-xs-7">
										<div class="form-group">
									    <label for="">Format <a href="">(what's that?)</a></label>
									    <input type="text" class="form-control" placeholder="" value="pocket">
									  </div>
							  	</div>
							  	<div class="col-xs-5">
										<div class="form-group">
									    <label for="">Year</label>
									    <input type="text" class="form-control" placeholder="" value="2016">
									  </div>						  	
							  	</div>
							  </div>
								<div class="form-group">
							    <label for="">Genre</label>
							    <input type="text" class="form-control" placeholder="" value="Philosophy">
							  </div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<div class="row row-tight">
							<div class="col-xs-4 col-sm-3">
									<button class="btn btn-default btn-block">Change</button>
								
							</div>
							<div class="col-xs-4 col-sm-9">
									<button class="btn btn-primary btn-block" data-toggle="collapse">Accept</button>
								
							</div>
						</div>
					</div>
				</div>
			</md-whiteframe>
			
		</div>
		<div class="row">
	
			<md-whiteframe class="col-md-6">
				<div class="">
					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Add Book for Sale</h2>
					</div>
	
					<header>
						<span class="text-muted pull-right">Step 2 of 3</span>Describe your copy
					</header>
					<div class="content">
						  <div class="row">
						  	<div class="col-xs-7">
									<div class="form-group">
								    <label for="">Condition <a href="">(how to choose?)</a></label>
								    <input type="text" class="form-control" placeholder="" value="Used">
								  </div>
						  	</div>
						  	<div class="col-xs-5">
									<div class="form-group">
								    <label for="">Price <small class="text-muted">in euro</small></label>
								    <input type="text" class="form-control" placeholder="" value="300" data-toggle="collapse" data-target="#static-totals-sample">
								  </div>						  	
						  	</div>
						  </div>
							<div class="form-group">
						    <label for="">Comment</label>
						    <textarea class="form-control" rows="3" placeholder="Notes regarding condition and other terms"></textarea>
						  </div>


						  <div class="row">
						  	<div class="col-xs-7">
									<div class="form-group">
								    <label for="">Delivery options</label>
								    <div class="row">
								    	<div class="col-sm-6">
										    <label class="scheckbox">
											    <input checked type="checkbox">
											    Shipping
										    </label>
								    	</div>
								    	<div class="col-sm-6">
										    <label class="scheckbox">
											    <input checked type="checkbox">
											    Meetup
										    </label>
								    	</div>
								    </div>
								  </div>
						  	</div>
						  	<div class="col-xs-5">
									<div class="form-group">
								    <label for="">Post code</label>
								    <input type="text" class="form-control" placeholder="">
								  </div>						  	
						  	</div>
						  </div>
						  
					</div>
					<div class="box-footer">
						<div class="row row-tight">
							<div class="col-xs-4 col-sm-3">
									<button class="btn btn-default btn-block"><b class="fa fa-chevron-left"></b> Back</button>
								
							</div>
							<div class="col-xs-8 col-sm-9">
									<button class="btn btn-primary btn-block" data-toggle="collapse">Add for Sale</button>
								
							</div>
						</div>
					</div>
				</div>
			</md-whiteframe>

	
			<md-whiteframe class="col-md-6">
				<div class="">
					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Add Book for Sale</h2>
					</div>
	
					<header>
						<span class="text-muted pull-right">Step 3 of 3</span>Review and confirm
					</header>
					<div class="content">
<!-- 								NOTE TO FE DEVS: Following code needs #refactoring  -->
						<div class="book-addbook row">

								<div class="col-md-4 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="col-md-8 book-details">
									<h4 class="book-title">Meditations</h4>
									<div class="book-author">
										by <span>Marcus Aurelius</span>
									</div>
									<div class="book-year">2016</div>
									<div class="book-category">Philosophy</div>
									<div class="book-format">Pocket</div>
									<div class="book-condition">Like New</div>
								</div>

						</div>
						
					</div>
					<div class="box-footer info-footer collapse in" id="static-totals-sample">

								<table class="table-addbook">
	<!--
									<thead>
										<tr>
											<th><h4>Summary</h4></th>
											<th class="text-right"></th>
										</tr>
									</thead>
	-->
									<thead>
										<tr>
											<td class="addbook-total-label">You'll earn</td>
											<td></td>
										</tr>
										<tr>
											<td class="addbook-total">180,-</td>
											<td></td>
										</tr>
									</thead>
									<tbody>									
										<tr>
											<td>Your selling price:</td>
											<td class="addbook-value">300-</td>
										</tr>
										<tr>
											<td>Seller fees (payments, application):</td>
											<td class="addbook-value">-120,-</td>
										</tr>
									</tbody>
								</table>						
								

						<br>
						<div class="row row-tight">
							<div class="col-xs-4 col-sm-3">
									<button class="btn btn-default btn-block"><b class="fa fa-chevron-left"></b> Back</button>
								
							</div>
							<div class="col-xs-8 col-sm-9">
									<button class="btn btn-primary btn-block" data-toggle="collapse">Confirm</button>
								
							</div>
						</div>
					</div>
				</div>
			</md-whiteframe>
			
		</div>
		<div class="row">
			<md-whiteframe class="col-md-6">
				<div class="">
					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Add Book for Sale</h2>
					</div>
	
					<header>
						<span class="text-muted pull-right">Step 3 of 3</span>Review and confirm
					</header>
					<div class="box-footer info-footer collapse in" id="static-totals-sample">
						<div class="row">
							<div class="col-md-5">
<!-- 								NOTE TO FE DEVS: Following code needs #refactoring  -->
													<div class="book-list-holder book-list-results">
												<div class="book-list"> 
												<div class="book-list-body">

							<div class="book-list-item ng-scope">
								<div class="fl-b-30 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="fl-b-70 book-name">
									<a ui-sref="allbooks.details({id: sale.book._id})" class="ng-binding" href="/all-books/58c82f0e039aea3e717d5ba6/details">Meditations</a>
									<div class="book-author">
										by <a ui-sref="allbooks.details.author({aid: sale.book.author[0]._id})" class="ng-binding" href="/all-books//details/58c82b9b039aea3e717d0c51/author">Marcus Aurelius</a>
									</div>
									<div class="book-format">Pocket</div>
								</div>
							</div>
												</div>
												</div>
													</div>							
							</div>
							<div class="col-md-7" style="padding-right: 20px !important;">
								<table class="table-checkout">
	<!--
									<thead>
										<tr>
											<th><h4>Summary</h4></th>
											<th class="text-right"></th>
										</tr>
									</thead>
	-->
									<tbody>									
										<tr>
											<td>Your selling price:</td>
											<td class="checkout-value">300-</td>
										</tr>
										<tr>
											<td>Seller fees (payments, application):</td>
											<td class="checkout-value">-120,-</td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<td class="checkout-total-label">You'll earn</td>
											<td class="checkout-total">180,-</td>
										</tr>
									</tfoot>
								</table>						
								
							</div>
						</div>
						<br>
						<div class="row row-tight">
							<div class="col-xs-4 col-sm-3">
									<button class="btn btn-default btn-block"><b class="fa fa-chevron-left"></b> Back</button>
								
							</div>
							<div class="col-xs-8 col-sm-9">
									<button class="btn btn-primary btn-block" data-toggle="collapse">Confirm</button>
								
							</div>
						</div>
						<p>
							<br>
							<b class="text-danger">Warning:</b> You have not payout method yet.
							<br><a href="">Set payout method</a>
						</p>
					</div>
				</div>
			</md-whiteframe>
			
			<md-whiteframe class="col-md-6">
				<div class="">
					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Add Book for Sale</h2>
					</div>
					<header>
						<span class="text-muted pull-right">Step 1 of 3</span> Find the book
					</header>

					<div class="content">
						<div class="book-addbook row">

								<div class="col-md-4 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="col-md-8 book-details">
									<h4 class="book-title">Meditations</h4>
									<div class="book-author">
										by <span>Marcus Aurelius</span>
									</div>
									<div class="book-year">2016</div>
									<div class="book-category">Philosophy</div>
									<div class="book-format">Pocket</div>
									<div class="book-condition">Like New</div>
								</div>

						</div>
					</div>
					<div class="box-footer">
						<div class="row row-tight">
							<div class="col-xs-4 col-sm-3">
									<button class="btn btn-default btn-block">Change</button>
								
							</div>
							<div class="col-xs-4 col-sm-3">
<!-- 									NOTE TO DEVS: Edit makes all fields editable; any change in those REMOVES the ISBN value; maybe disable ISBN for all cutom entries? -->
									<button class="btn btn-default btn-block">Edit</button>
								
							</div>
							<div class="col-xs-4 col-sm-6">
									<button class="btn btn-primary btn-block" data-toggle="collapse">Accept</button>
								
							</div>
						</div>
					</div>
				</div>
			</md-whiteframe>			
			
		</div>
		<div class="row">
			
			<md-whiteframe class="col-md-6">
				<div class="">

					<div class="content">
										<br>
						<div class="book-addbook row">

								<div class="col-sm-4 col-sm-offset-4 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>

						</div>
						
					</div>
					<h2 class="heading text-center">'Meditations' was added for sale!</h2>
					<div class="box-footer">
						<div class="row row-tight">
							<div class="col-md-3 col-sm-4">
								<button class="btn btn-default btn-block" data-toggle="collapse">Close</button>
							</div>
							<div class="col-md-9 col-sm-8">
								<button class="btn btn-primary btn-block" data-toggle="collapse">Add another book?</button>
							</div>
						</div>
						<br>
						<div class="text-center"><a href="">Manage all your books for sale</a></div>
					</div>
				</div>
			</md-whiteframe>			
			
		</div>
		<hr>
		<hr>
		<hr>
		<hr>
		<div class="row">
			
			<md-whiteframe class="col-md-4">
				<div class="">

					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Request a Book</h2>
					</div>
<!--
					<header>
						<span class="text-muted pull-right">Step 1 of 3</span> Overview
					</header>
-->
					<div class="content content-tight">
						<label for="">Delivery method:</label>
						<div class="btn-group btn-block" data-toggle="buttons">
						  <label class="btn btn-primary btn-half ">
						    Shipping
						  </label>
						  <label class="btn btn-default btn-half">
						    Meetup
						  </label>
						</div>
					</div>
					
					
					<div class="content request-shipping-box">
						<md-radio-group ng-model="data.group1">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							  <div class="panel panel-default panel-cards panel-address">
							    <div class="panel-heading" role="tab" id="address-head-1">
							      <h4 class="panel-title">
							        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#address-card-1" aria-expanded="true" aria-controls="address-card-1">
							          <b class="fa fa-angle-down"></b> 4A Vazrojdenski square 
							        </a>
							          <md-radio-button value="addressOption1" class="pull-right address-choice md-primary md-checked"></md-radio-button>
							      </h4>
							    </div>
							    <div id="address-card-1" class="panel-collapse collapse in" role="tabpanel">
							      <div class="panel-body">
											<h4 class="address-name">Ivelin Belchev</h4>
											<div class="address-street"><span class="fa fa-fw fa-map-marker"></span> 4A Vazrojdenski square</div>
											<div class="address-street-more"><span class="fa fa-fw"></span> fl. 2, ap.2</div>
											<div class="address-local">
												<span class="fa fa-fw"></span> 
												<span class="address-code">7002</span>
												<span class="address-city">Rousse, </span>
												<span class="address-country">Bulgaria</span>						
											</div>
											<div class="address-email"><span class="fa fa-fw fa-envelope"></span> i.belchev@gmail.com</div>
											<div class="address-tel"><span class="fa fa-fw fa-phone"></span> (359) 87984-9582</div>      
										</div>
							    </div>
							  </div>
							  <div class="panel panel-default panel-cards panel-address">
							    <div class="panel-heading" role="tab" id="address-head-2">
							      <h4 class="panel-title">
							        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#address-card-2" aria-expanded="false" aria-controls="address-card-2">
							          <b class="fa fa-angle-down"></b> 6A Carkovna Nezavisimost Str. 
							        </a>
							          <md-radio-button value="addressOption2" class="pull-right address-choice md-primary"></md-radio-button>
							      </h4>
							    </div>
							    <div id="address-card-2" class="panel-collapse collapse" role="tabpanel">
							      <div class="panel-body">
											<h4 class="address-name">Ivelin Belchev</h4>
											<div class="address-street"><span class="fa fa-fw fa-map-marker"></span> 4A Vazrojdenski square</div>
											<div class="address-street-more"><span class="fa fa-fw"></span> fl. 2, ap.2</div>
											<div class="address-local">
												<span class="fa fa-fw"></span> 
												<span class="address-code">7002</span>
												<span class="address-city">Rousse, </span>
												<span class="address-country">Bulgaria</span>						
											</div>
											<div class="address-email"><span class="fa fa-fw fa-envelope"></span> i.belchev@gmail.com</div>
											<div class="address-tel"><span class="fa fa-fw fa-phone"></span> (359) 87984-9582</div>      
										</div>
							    </div>
							  </div>
							  <div class="panel panel-default panel-cards panel-address-new">
							    <div class="panel-heading" role="tab" id="address-head-new">
							      <h4 class="panel-title">
							        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#address-card-new" aria-expanded="false" aria-controls="address-card-new">
							          <b class="fa fa-angle-down"></b> Add New Address
							        </a>
							      </h4>
							    </div>
							    <div id="address-card-new" class="panel-collapse collapse" role="tabpanel">
							      <div class="panel-body">
											<div class="form-group">
												<label for="" class="control-label">Full Name</label>
												<div><input type="text" class="form-control"></div>
											</div>
											<div class="form-group">
												<label for="" class="control-label">Street Address</label>
												<div><input type="text" class="form-control"></div>
											</div>
											<div class="form-group">
												<label for="" class="control-label">Address (more)</label>
												<div><input type="text" class="form-control"></div>
											</div>
											<div class="row">
												<div class="col-xs-4">
													<div class="form-group">
														<label for="" class="control-label">Postal Code</label>
														<div><input type="text" class="form-control"></div>
													</div>
												</div>
												<div class="col-xs-8">
													<div class="form-group">
														<label for="" class="control-label">City</label>
														<div><input type="text" class="form-control"></div>
													</div>								
												</div>
											</div>
											<div class="form-group">
												<label for="" class="control-label">Country</label>
												<div><input type="text" class="form-control"></div>
											</div>
<!--
											<div class="checkbox">
												<label for="" class="control-label">
													<input type="checkbox" checked data-toggle="collapse" data-target="#billing-address-new">	
													Use the same address for billing
												</label>
											</div>
-->
											
<!--
											<div id="billing-address-new" class="collapse">		
												<h4>Billing Address</h4>			
												<div class="form-group">
													<label for="" class="control-label">Full Name</label>
													<div><input type="text" class="form-control"></div>
												</div>
												<div class="form-group">
													<label for="" class="control-label">Street Address</label>
													<div><input type="text" class="form-control"></div>
												</div>
												<div class="form-group">
													<label for="" class="control-label">Address (more)</label>
													<div><input type="text" class="form-control"></div>
												</div>
												<div class="row">
													<div class="col-xs-4">
														<div class="form-group">
															<label for="" class="control-label">Postal Code</label>
															<div><input type="text" class="form-control"></div>
														</div>
													</div>
													<div class="col-xs-8">
														<div class="form-group">
															<label for="" class="control-label">City</label>
															<div><input type="text" class="form-control"></div>
														</div>								
													</div>
												</div>
												<div class="form-group">
													<label for="" class="control-label">Country</label>
													<div><input type="text" class="form-control"></div>
												</div>
											</div>
-->
							
											<button type="button" class="btn btn-primary btn-block btn-block">Add</button>
							
										</div>
							    </div>
							  </div>
							</div>				
						</md-radio-group>		
						<div class="form-group">
							<label for="" class="control-label">Delivery via:</label>						
<!-- 							NOTE TO DEV: Please use the standard md-radio elements here, ignore any markup and classes below -->
							<md-radio-group ng-model="selected">
							  <md-radio-button class="md-primary md-checked"  ng-value="specialValue" aria-label="1">
							    <label for="" class="checkbox-label">
								    Norwegian Air Post <b>(Free, 10 days)</b>
							    </label>
							  </md-radio-button>
							  <md-radio-button class="md-primary" ng-value="specialValue2" aria-label="2">
							    <label for="" class="checkbox-label">
								    DHL <b>(+340kr, 1-2days)</b>
							    </label>
							  </md-radio-button>
							</md-radio-group>
						</div>
					</div>

					<div class="box-footer">
						<div class="row row-tight">
							<div class="col-sm-4">
								<button class="btn btn-default btn-block" data-toggle="collapse">Close</button>
							</div>
							<div class="col-sm-8">
								<button class="btn btn-primary btn-block" data-toggle="collapse">Request</button>
							</div>
						</div>
<!--
						<div class="text-center"><br><a href="">Manage all your books for sale</a></div>
-->
					</div>
				</div>
			</md-whiteframe>			
						
			<md-whiteframe class="col-md-4">
				<div class="">

					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Request a Book</h2>
					</div>
<!--
					<header>
						<span class="text-muted pull-right">Step 1 of 3</span> Overview
					</header>
-->
					<div class="content content-tight">
						<label for="">Delivery method:</label>
						<div class="btn-group btn-block" data-toggle="buttons">
						  <label class="btn btn-default btn-half">
						    Shipping
						  </label>
						  <label class="btn btn-primary btn-half ">
						    Meetup
						  </label>
						</div>
					</div>
					
					
					<div class="content request-shipping-box">
						<div class="user-item user-item-request">
							<img src="http://www.meganfox.com/wp-content/uploads/2014/01/5.jpg" alt="" class="user-image">
							<div class="user-rating"><b class="fa fa-star-o"></b> <span>4.5/5</span></div>
							<div class="user-name">Stephen Baxter</div>
							<div class="user-detail"><b><24 hrs</b> response time</div>
						</div>
						
<!-- 						NOTE TO DEVS: Replace this dummy image with a map -->

						<img src="http://placehold.it/640x400" class="img-responsive" alt=""><br><br>
						
				    <textarea class="form-control" rows="5" placeholder="Send massage to specify date and time: e.g. Hello, Stephen! Let’s meet at _______________ on ____________"></textarea>


					</div>

					<div class="box-footer">
						<div class="row row-tight">
							<div class="col-sm-4">
								<button class="btn btn-default btn-block" data-toggle="collapse">Close</button>
							</div>
							<div class="col-sm-8">
								<button class="btn btn-primary btn-block" data-toggle="collapse">Request</button>
							</div>
						</div>
<!--
						<div class="text-center"><br><a href="">Manage all your books for sale</a></div>
-->
					</div>
				</div>
			</md-whiteframe>			
						
			<md-whiteframe class="col-md-4">
				<div class="">

					<div class="text-center">
						<br>
						<br>
						<h2 class="heading">Request a Book</h2>
					</div>

					<div class="content">
<!-- 								NOTE TO FE DEVS: Following code needs #refactoring  -->
						<div class="book-addbook row">

								<div class="col-md-4 book-title" ui-sref="allbooks.details({id: hit.objectID})" href="/all-books//details">
									<div class="book-cover">
										<img class="pointable" ng-src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png" alt="book image" ui-sref="allbooks.details({id: sale.book._id})" href="/all-books/58c823e2039aea3e717c4239/details" src="http://s3-eu-west-1.amazonaws.com/bookis.web.development/books/58c823e2039aea3e717c4239/full.png">
									</div>
								</div>
								<div class="col-md-8 book-details">
									<h4 class="book-title">Meditations</h4>
									<div class="book-author">
										by <span>Marcus Aurelius</span>
									</div>
									<div class="book-year">2016</div>
									<div class="book-format">Pocket</div>
									<div class="book-condition">Like New</div>
								</div>

						</div>
						
					</div>
					<div class="box-footer info-footer collapse in" id="static-totals-sample">

								<table class="table-addbook">
	<!--
									<thead>
										<tr>
											<th><h4>Summary</h4></th>
											<th class="text-right"></th>
										</tr>
									</thead>
	-->
									<thead>
										<tr>
											<td class="addbook-total-label">Total price:</td>
											<td></td>
										</tr>
										<tr>
											<td class="addbook-total">180,-</td>
											<td></td>
										</tr>
									</thead>
									<tbody>									
										<tr>
											<td>Book price:</td>
											<td class="addbook-value">180,-</td>
										</tr>
										<tr>
											<td>Application fee:</td>
											<td class="addbook-value">120,-</td>
										</tr>
										<tr>
											<td>Shipping</td>
											<td class="addbook-value">0,-</td>
										</tr>
										<tr>
											<td>VAT (0%):</td>
											<td class="addbook-value">0,-</td>
										</tr>
									</tbody>
								</table>						
								

						<br>
						<div class="row row-tight">
							<div class="col-xs-4">
									<button class="btn btn-default btn-block"><b class="fa fa-chevron-left"></b> Back</button>
								
							</div>
							<div class="col-xs-8">
									<button class="btn btn-primary btn-block" data-toggle="collapse">Confirm</button>
								
							</div>
						</div>
					</div>
				</div>
			</md-whiteframe>			
						
			
		</div>
		
		
<!--
		
		<md-whiteframe class="col-md-5">
		<div>
			<div class="well" style="background: white;">
				<br>
				<br>
				<br>
				<br>
				<br>
			<div class="well">
				<b>Log in with</b>
			<div class="row">
				<div class="col-md-6"><a href="" class="btn btn-info btn-sm btn-block"><b class="fa fa-facebook"></b> <b>Facebook</b></a></div>
				<div class="col-md-6"><a href="" class="btn btn-danger btn-sm btn-block"><b class="fa fa-google"></b> <b>Google</b></a></div>
			</div>
			</div>
			<div class="text-center h4">OR</div>
			<div class="well">
				<b>Email log in</b>
				<input type="text" class="form-control" placeholder="your email"><br><input type="text" class="form-control" placeholder="your password">
				<br>
				<a href="" class="btn btn-primary btn-sm btn-block">Log in <b class="fa fa-chevron-right"></b></a>
			</div>
			<div class="well" style="background: white; box-shadow: none; margin: 0; border: none;">
				
			<div class="row">
				<div class="col-md-6"><a href="" class="btn btn-default btn-sm btn-block"><b class="fa fa-key"></b> Forgotten password?</a></div>
				<div class="col-md-6"><a href="" class="btn btn-primary btn-sm btn-block"><b class="fa fa-edit"></b> Sign up now!</a></div>
			</div>
			</div>
			
			</div>
		</div>
		</md-whiteframe>
-->
	
	</div>
	
</div>


<style type="text/css" media="screen">
	.info-footer {
		background: #f5f8f8;
	}
</style>